@page "/"
@inject NavigationManager navigation
@rendermode InteractiveServer

<div class="home-box-container">
    <div class="form-box box-shadow">
        <div class="form-group">
            <input id="textbox1" placeholder="Busqueda 1" class="form-control mb-3" @bind="@firstSearch" />
        </div>

        <div class="form-group">
            <input id="textbox2" placeholder="Busqueda 2" class="form-control mb-3" @bind="@lastSearch" />
        </div>

        <div class="form-group">
            <button @onclick="SearchWikipediaUrl" class="btn btn-block btn-primary"
                disabled="@(!FieldCheck)">Buscar</button>
        </div>
    </div>
</div>

@code
{
    const string BASE_URL = "https://es.wikipedia.org/wiki/";
    private List<PageBreadcrumb> breadcrumbs = new();
    private bool FieldCheck => !string.IsNullOrWhiteSpace(firstSearch) && !string.IsNullOrWhiteSpace(lastSearch);
    private string firstSearch = string.Empty;
    private string lastSearch = string.Empty;
    private string firstWikipediaUrl = string.Empty;
    private string lastWikipediaUrl = string.Empty;

    private string BuildQueryStringParameter() =>
        $"firstSearch={firstSearch.Replace(" ", "_")}&lastSearch={lastSearch.Replace(" ", "_")}";
    
    private void SearchWikipediaUrl(MouseEventArgs e)
    {
        if (!string.IsNullOrEmpty(firstSearch) &&
        !string.IsNullOrEmpty(lastSearch))
        {
            firstWikipediaUrl = BuildWikipediaUrl(firstSearch);
            lastWikipediaUrl = BuildWikipediaUrl(lastSearch);

            breadcrumbs.Add(new PageBreadcrumb()
                {
                    Url = firstWikipediaUrl,
                    Page = firstSearch,
                    Active = true
                });
        }

        StateHasChanged();

        var queryParameters = BuildQueryStringParameter();

        navigation.NavigateTo($"/play?{queryParameters}");
    }

    private string BuildWikipediaUrl(string word)
    {
        var underscoredWord = word.Replace(" ", "_");

        var searchUrl = string.Concat(BASE_URL, underscoredWord);

        return searchUrl;
    }

}