@if (VisitedPages is not null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @foreach (var item in VisitedPages)
            {
                <li class="breadcrumb-item">
                    <span class="badge @GetBgFromItem(item)">
                        <a href="@item.Url">@item.Page</a>
                    </span>
                </li>
            }
        </ol>
    </nav>
}

@code
{
    [Parameter]
    public List<PageBreadcrumb>? VisitedPages { get; set; }

    private string GetBgFromItem(PageBreadcrumb breadcrumb) => 
        breadcrumb.Active.Equals(string.Empty) ? "bg-secondary" : "bg-primary";
}